<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="15%"></div>
    <div class="item item-2" fxFlex>
        <div class="main hero">
            <img class="herocard" src="assets/hero.jpg">

            <mat-card class="card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu of the West
                </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu of the North
                </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu of the South
                </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu of the East
                </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="item item-1" fxFlex="15%"></div>
</div>