/* General Layout */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main { padding: 20px; position: relative; margin-bottom: 35px; margin-right: 25px; margin-left: 25px;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 
    0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

/* Navigation, Side Panel and Tabs */
.mat-tab-body .mat-tab-body-content { overflow-x: hidden; overflow-y: hidden; overflow: hidden; }
.nav { width: 100%; height: 100%; }
.navbody { padding: 10px }
[hidden] { display: none !important;}

h3 { text-decoration: underline; }

/* Hero Branding */
.hero { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }
.herocard { max-width: 60%; height: auto; margin-right: 15%; margin-left: 15% }
.card { max-width: 20%; margin: 1%; }

/* Color Override */
.mat-toolbar.mat-primary { background: #2F4F4F; }
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar { background: #2F4F4F; }
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit { background: #2F4F4F; }
