/* General Layout */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar { position: fixed; z-index: 100; }
.home { cursor: pointer; }
[hidden] { display: none !important; }

.main  { margin-top: 74px; margin-bottom: 300px; padding: 15px; 
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

/* Remove this */
.leaflet-marker-shadow { display: none !important; }

/* Navigation Page */
h3 { text-decoration: underline; }
h4 { margin: 0 0 0px !important; }
strong { font-weight: 450; }
th { font-weight: 450; }
.mat-tab-body .mat-tab-body-content { overflow-x: visible; overflow-y: visible; overflow: visible; height: 100% } 

/* Hero Branding */
.herocard { max-width: 50%; height: auto; }
.card { min-width: 250px; max-width: 18%; cursor: pointer; }
.cardtext { font-weight: 500; text-align: center; }

/* Color Override */
.mat-toolbar.mat-primary { background: #2F4F4F; }
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar { background: #2F4F4F; }
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit { background: #2F4F4F; }
